.hero {
  .hero__container {
    padding-top: 90px; //
    display: flex;
    flex-direction: inline-row;
    align-items: center;
    background-color: #ffc20c;
    height: 55vw; //

    .hero__image {
      height: 50vw; //
    }

    .hero__content {
      padding-right: 10vw; //
      width: 100%;

      blockquote {
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-size: 4vw; //
        color: #f2f2f2;
        text-align: right;
        margin: 0;
      }
      figcaption {
        padding-top: 0.5vw; //
        text-align: right;
      }
      .hero__cta {
        float: right;
        font-family: "Montserrat", sans-serif;
        background-color: #1a1a1a;
        padding: 1vw 2vw; //
        margin-top: 2vw; //

        font-size: 1.8vw; //
        color: #fffefe;
        text-decoration: none;
        border-radius: 100px;
      }
    }
  }
}

.print {
  .print__container {
    display: flex;
    flex-direction: inline-row;
    align-items: center;
    background-color: #f2ada7;
    height: 55vw; //

    .print__image {
      height: 50vw; //
    }

    .print__content {
      padding-left: 10vw; //
      width: 100%;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw; //
        color: #1a1a1a;
        text-align: left;
        margin: 0;
      }
      p {
        padding-top: 1vw; //
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 3vw; //
      }
      .print__cta {
        float: left;
        font-family: "Montserrat", sans-serif;
        background-color: #339aa6;
        padding: 1vw 2vw; //
        margin-top: 1vw; //

        font-size: 2.5vw; //
        color: #fffefe;
        text-decoration: none;
        border-radius: 100px;
      }
    }
  }
}

.branding {
  .branding__container {
    display: flex;
    flex-direction: inline-row;
    align-items: center;
    background-color: #339aa6;
    height: 55vw;

    .branding__image {
      height: 50vw;
    }

    .branding__content {
      padding-right: 10vw;
      width: 100%;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        color: #f2f2f2;
        text-align: right;
        margin: 0;
      }
      p {
        color: #f2f2f2;
        padding-top: 1vw;
        text-align: right;
        font-family: "Montserrat", sans-serif;
        font-size: 3vw;
      }
      .branding__cta {
        float: right;
        font-family: "Montserrat", sans-serif;
        background-color: #f27983;
        padding: 1vw 2vw;
        margin-top: 1vw;

        font-size: 2.5vw;
        color: #fffefe;
        text-decoration: none;
        border-radius: 100px;
      }
    }
  }
}
.visuals {
  .visuals__container {
    display: flex;
    flex-direction: inline-row;
    align-items: center;
    background-color: #c4e6e5;
    height: 55vw;

    .visuals__image {
      height: 50vw;
    }

    .visuals__content {
      padding-left: 10vw;
      width: 100%;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        color: #1a1a1a;
        text-align: left;
        margin: 0;
      }
      p {
        padding-top: 1vw;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 3vw;
      }
      .visuals__cta {
        float: left;
        font-family: "Montserrat", sans-serif;
        background-color: #f27983;
        padding: 1vw 2vw;
        margin-top: 1.8vw;

        font-size: 2.5vw;
        color: #fffefe;
        text-decoration: none;
        border-radius: 100px;
      }
    }
  }
}

.digitals {
  .digitals__container {
    display: flex;
    flex-direction: inline-row;
    align-items: center;
    background-color: #f27983;
    height: 55vw;

    .digitals__image {
      height: 50vw;
    }

    .digitals__content {
      padding-right: 10vw;
      width: 100%;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        color: #f2f2f2;
        text-align: right;
        margin: 0;
      }
      p {
        color: #f2f2f2;
        padding-top: 1vw;
        text-align: right;
        font-family: "Montserrat", sans-serif;
        font-size: 3vw;
      }
      .digitals__cta {
        float: right;
        font-family: "Montserrat", sans-serif;
        background-color: #339aa6;
        padding: 1vw 2vw;
        margin-top: 1vw;

        font-size: 2.5vw;
        color: #fffefe;
        text-decoration: none;
        border-radius: 100px;
      }
    }
  }
}
