.spatial {
    .spatial__container {
      display: flex;
      flex-direction: inline-row;
      align-items: center;
      background-color: #F2ADA7;
      height: 55vw;
      padding-top: 90px;
  
      .spatial__image {
        height: 50vw;
      }
  
      .spatial__content {
        padding-left: 10vw;
        width: 100%;
  
        h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 4.5vw;
          color: #f2f2f2;
          text-align: left;
          margin: 0;
        }
        p {
          padding-top: 1vw;
          text-align: left;
          font-family: "Montserrat", sans-serif;
          font-size: 3vw;
          color: #f2f2f2;
        }
        .spatial__cta {
          float: left;
          font-family: "Montserrat", sans-serif;
          background-color: #339AA6;
          padding: 1vw 2vw;
          margin-top: 1.8vw;
  
          font-size: 2.5vw;
          color: #fffefe;
          text-decoration: none;
          border-radius: 100px;
        }
      }
    }
  }
  
  .uiux {
    .uiux__container {
      display: flex;
      flex-direction: inline-row;
      align-items: center;
      background-color: #339AA6;
      height: 55vw;
  
      .uiux__image {
        height: 50vw;
      }
  
      .uiux__content {
        padding-right: 10vw;
        width: 100%;
  
        h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 4.5vw;
          color: #f2f2f2;
          text-align: right;
          margin: 0;
        }
        p {
          color: #f2f2f2;
          padding-top: 1vw;
          text-align: right;
          font-family: "Montserrat", sans-serif;
          font-size: 3vw;
        }
        .uiux__cta {
          float: right;
          font-family: "Montserrat", sans-serif;
          background-color: #F2ADA7;
          padding: 1vw 2vw;
          margin-top: 1vw;
  
          font-size: 2.5vw;
          color: #fffefe;
          text-decoration: none;
          border-radius: 100px;
        }
      }
    }
  }